@{
    ViewData["Title"] = "Fibonacci";
    int previous = 0;
    int current = 1;
    int sum = 0;
    int max = Convert.ToInt32(ViewData["max"]);
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>

<ul id="fibonacci">
    @while (sum <= max)
    {
        sum = previous + current;
        previous = current;
        current = sum;

        if (sum < max)
        {
            <li>@sum</li>
        }
    }
</ul>