html * {
  margin: 0;
  padding: 0;
}
#slug_1 {
  background-color: #ECA008;
  padding: 10px;
  margin: 200px;
  border: 10px dashed rgb(231, 10, 183);
}
#slug_2 {
  background-color: #ECA008;
  padding: 0px;
  margin: 50px;
  border: 3px solid black;
}
