/* Apply this style to the HTML tag */
html {
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    /* Force Horizontal Scrollbar */
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to bottom, #858C90, #BBB);
    background-repeat: no-repeat;
    background-attachment: fixed;  
}


header > h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
}

header > p {
    font-size: .9rem;
    padding-left: 5px;
}

main {
    margin-top: 50px;
}

/* Targets any H2 inside of <div class="trello-list"> tag */
div.trello-list h2 {

    /* Spacing */
    margin: 8px;

    /* Font */
    font-size: 1.0em;
    font-weight: bold;
}

div.trello-list ol {
    margin: 0;
    padding: 0;
}

div.trello-list li:last-child {
    margin-bottom: 0px;
}

div.trello-list li:hover {
    background-color: #f5f6f7;
    color: #092d42;
}

div.trello-list a {
    /* Layout */ 
    display: block;

    /* Look */
    text-decoration: none;
    color: #888;

    /* Spacing */ 
    padding: 8px 0px 8px 5px; /* top right bottom left */

    font-size: 0.85rem;
}

div.trello-list a:hover {
    background-color: rgba(9, 45, 66, .1);
}

.labels span {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 8px;
    border-radius: 3px;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #BBB;    
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

body::webkit-scrollbar-thumb:hover {
    background: #888;    
}

header > h1, header > p {
    display: inline;
    padding-right: 20px;
    vertical-align: middle;
}

.label.pathway {
    background-color: red;
}
.label.individual {
    background-color: green;
}
.label.pair {
    background-color: teal;
}

div.trello-list li {
    list-style-type: none;
}